.users-list  {
    text-align: center;
}
.users-list table {
    width: 100%;
}
.users-list table th, .users-list table td {
    padding: 4px 20px;
}
.users-list table td {
    text-align: left;
}
.users-list-pagination {
    margin-top: 50px;
}
.users-list-files a {
    display: inline-block;
    margin-right: 20px;
}
